/* Use class name as per the one decided in index.html */
/* make sure the classes dont conflict with one other */
* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}
/* footer css */
.footer__content {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  align-items: center;
  justify-items: center;
  background-color: rgb(3, 1, 3);
}
ul li {
  margin-bottom: 10px;
  text-decoration: none;
  font-family: sans-serif;
  color: white;
}
a:link {
  color: white;
  text-decoration: none;
}
a:hover {
  color: blue;
  text-decoration: line-through;
}
.footer__bottom {
  margin-top: -20px;
  background-color: rgb(3, 1, 3);
  color: white;
  text-align: center;
  padding: 10px 0;
}

body{
    background-image: url(Images/Background-min.png);
    background-position: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    background-clip: border-box;
}

.head-section{
    margin-top: 100px;
}

.container{
    max-width: 940px;
    margin: auto;
}

.head-h1{
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: italic;
    font-size: 9vh;
    line-height: 100%;
    color: #ccc;
    margin: 0px;
    letter-spacing: 1.5px;
}

.head-h4{
    margin: 0px;
    margin-left: 15vh;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 3.25vh;
    line-height: 100%;
    color: #ccc;
    
}

.head-text-body{
    margin-top: 50px;
}

.head-para{
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75vh;
    text-align: justify;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 1.5px;
    line-height: 130%;
    margin-bottom: 10px;
}

.head-h5{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: 2.5vh;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 0;
}

.heading-jig{
    margin-top: 50px;
    color:rgba(255, 255, 255, 0.7) ;
    font-family: "Playfair Display",serif ;
    text-align: center;
}

.square-container {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    grid-gap: 20px 200px;
    justify-content: center;
    margin-top: 50px;
    margin-right: 15vh;
}

.square {
    width: 300px;
    height: 280px;
    background-color:#fae8e0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #343434;
    font-size: 24px;
    border-radius: 10px;
    box-shadow:0 4px 8px rgba(255, 255, 255, 0.2);
    transition: transform 0.2s, background-color 0.2s;
    padding: 10px;
    box-sizing: border-box;
}

.square:hover {
    transform: scale(1.1);
    background-color:#343434;
    color:white;
    border-color: white ;
}

.heading-h2 {
    margin: 10px;
    font-size: 30px;
    align-self: flex-start;
    font-family:"Playfair Display",serif ;
}

.heading-list {
    margin: 10px 0 0;
    font-size: 14px;
    font-weight: 700;
    font-family: "Poiret One",sans-serif;
    text-align:left;
    line-height: 18px;
}

.heading-2{
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Playfair Display", serif;
}
.info{
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.7);

}
